/* -- --- ---- ESTILOS GENERALES ---- --- -- */
/* Pagina segura para extraer el tipo de fuente que te guste */ 
/* Es una pagina oficial de Google, asi que mas seguro imposible */
/* https://fonts.google.com/ */

/* SI QUIERES CAMBIAR EL COLOR PUEDES UTILIZAR ESTA PAGINA, */ /* https://htmlcolorcodes.com/es/ */
/* CUANDO TENGAS EL COLOR QUE QUIERES APLICAR COPIA EL ID OBTENIDO EN FORMATO HEXADECIMAL Y SUSTITUYELO EN EL LUGAR CORRESPONDIENTE: #123456 */

/* IMPORTANTE *//* Cuando se importe un elemento, siempre colocarlo arriba */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap'); 

* {
  /* -- Los elementos tomaran como maximo el tamaño del contenedor padre -- */
  box-sizing: border-box;

  /* -- Elimina el margen de todos los elementos -- */
  margin: 0;
  /* -- Elimina el padding de todos los elementos -- */
  padding: 0;
  /* -- Elimina los bordes de todos los elementos -- */
  border: 0;

  /* -- Todos los elementos de texto utilizaran la fuente 'Roboto Slab' -- */  
  /* -- En caso de que la primera fuente no este disponible ira probando con las siguientes hasta que se asigne una -- */
  font-family: 'Roboto Slab', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  /* -- TAMAÑO PAGINA A4 -- */
  /* -- Establecer tamaño fijo en la caja contenedora -- */
  width: 210mm; /* ANCHO */
  height: 297mm; /* ALTO */

  /* COLOR DE FONDO DE LA PAGINA */
  /* background-color: black; */
}

 /* --------------- --------------- ---------------- A PARTIR DE AHORA ---------------- --------------- --------------- */ 
  /* Establece el tamaño de los elementos en porcentaje en relacion al tamaño fijo establecido en la caja contenedora */
            /* Se puede establecer el tamaño en otro tipo de medida pero para mi es mas facil usar % */
#header {
  width: 100%;
  height: 20%;
}
#main {
  width: 100%;
  height: 60%;
}
#footer {
  width: 100%;
  height: 20%;
}

/* --------------- --------------- ---------------- sp ---------------- --------------- --------------- */ 
/*------------*/
/*-- HEADER --*/
/*------------*/
#header {
  display: flex;
  flex-wrap: wrap; /* EN CASO DE QUE LOS ELEMENTOS NO QUEPAN EN EL ANCHO ESTABLECIDO COMO LIMITE, EL ULTIMO ELEMENTO PASARA A POSICIONARSE JUSTO DEBAJO */
  align-items: center; /* ALINEA LOS ELEMENTOS EN EL EJE Y, "VERTICALMENTE" */
  justify-content: space-between; /* ALINEA LOS ELEMENTOS EN EL EJE X, "HORIZONTALMENTE" */
}
/* DIVISION HEADER IZQUIERDA */
#cont_img {
  width: 25%;
  height: 100%;
  /* COLOR DE FONDO DE LA SECCION IZQUIERDA DEL HEADER, DONDE SE POSICIONA LA FOTO DE PERFIL */
  /* background-color: #000000; */
}
#foto_perfil_ {
  width: 100%;
  height: 100%;
  object-fit: contain; /* AJUSTARA LA IMAGEN AL CONTENEDOR DONDE SE HAYA INTRODUCIDO */
  clip-path: circle(40%);  /* SI QUIERES LA FOTO DE PERFIL CUADRADA SIMPLEMENTE ELIMINA ESTE SELECTOR */
}
/* DIVISION HEADER DERECHA */
#cont_txt_title {
  width: 75%;
  /* COLOR DE FONDO DE LA SECCION DERECHA DEL HEADER, DONDE SE POSICIONA EL TITULO DE CV */
  background-color: rgb(164, 203, 243);
  /* SI QUIERES ELIMINAR LOS BORDES REDONDEADOS ELIMINA LOS DOS SELECTORES DE ABAJO */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#cont_txt_title h1 {
  text-align: center; /* CENTRA EL TEXTO AL CENTRO */
  font-size: 3rem;    /* CAMBIA EL TAMAÑO DEL TEXTO */
}
#cont_txt_title p {
  text-align: center;
  font-size: 2.5rem;
}
/* --------------- --------------- ---------------- sp ---------------- --------------- --------------- */ 
/*----------*/
/*-- MAIN --*/
/*----------*/
#main {
  text-align: center;
  /* COLOR DE FONDO DE LA SECCION PRINCIPAL */
  /* background-color: #d8bfbf; */
}
#main > h1 {
  font-size: 2.5rem;
  margin-bottom: 2%; /* AÑADE UN MARGEN INFERIOR AL CONTENEDOR */
}
.trabajos_pasados_presente {
  margin-bottom: 10%;
}
.trabajos_pasados_presente, 
.trabajos_pasados_presente .titulos_descripcion {
  width: 100%;
  height: auto;
}
.titulos_descripcion {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-right: 2%;
  padding-left: 2%;
  /* LINEA DIVISORIA DE LOS DIFERENTES TRABAJOS, SE PUEDEN ELIMINAR LOS TRES SIGUIENTES SELECTORES EN CASO DE NO QUERER NINGUNA LINEA DIVISORIA */
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ededed; /* CAMBIA EL COLOR DE LAS LINEAS */
}
.puesto,.cargo_fecha {
  font-size: 1.4rem;
  font-weight: 700; /* CAMBIA EL GROSOR DE LA LETRA, "FINA, NORMAL, NEGRITA..." */
}
.descripcion {
  width: 95%;
  height: auto;
  margin: 5px auto 0 auto;
  text-align: center;
}
/* --------------- --------------- ---------------- sp ---------------- --------------- --------------- */ 
/*------------*/
/*-- FOOTER --*/
/*------------*/
#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer div {
  width: 33.33%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.cont_contact {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cont_contact p {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid #d3d3d3;
}
#footer div:nth-child(1) p {
  padding-left: 10%;
  border-left: 1px solid #d3d3d3; 
}
#footer div:nth-child(1) {
  /* CAMBIA EL COLOR DE FONDO DE LA SECCION LATERAL IZQUIERDA DEL FOOTER */
  /*background-color: lightcoral;*/
  
  border-left: 1px solid #d3d3d3; 
}
#footer div:nth-child(2) {
  /* CAMBIA EL COLOR DE FONDO DE LA SECCION CENTRAL DEL FOOTER */
  /*background-color: lightgoldenrodyellow;*/
}
#footer div:nth-child(3) {
  /* CAMBIA EL COLOR DE FONDO DE LA SECCION LATERAL DERECHA DEL FOOTER */
  /*background-color: lightsteelblue;*/
}
